@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,300,400,800');

:global(body) {
    font-family: 'Work Sans', sans-serif;
}
.wrapper {
    padding: 16px 4px;
}

:global(.image) {
    width: 100%;
    margin-bottom: 0;
}

:global(.heading) {
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    line-height: .8;
    font-size: 48px;
    text-align: center;
    color: #444;
}


@media screen and (min-width: 550px) {
    
    .story {
        margin: 32px 0 16px 0;
        font-size: 32px;
    }

    :global(.image) {
        width: 75%;
    }

    :global(.heading) {
        font-size: 52px;
    }
}

@media screen and (min-width: 750px) {
    
    :global(.image) {
        width: 60%;
    }

    :global(.heading) {
        font-size: 64px;
    }
}
