
.icon {
    margin: 0 8px;
    font-size: 36px;
    font-weight: bold;
    text-align: right;
    cursor: pointer;
    transition: color .5s ease-in-out;
}

.icon:hover {
    color: #33bb70;
}

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
}