@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Lora:400,700');

@media screen and (min-width: 650px) {
    body {
        font-size: 2em;
    }
}

@media screen and (max-width: 650px) {
    body {
        font-size: 1em;
    }
}

body {
    font-family: 'Lora', serif;
    color: #12223A;
    margin:0;
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    margin: 0;
    padding-top: .25em;
    padding-bottom: .25em;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFF;
    width: 100%;
    /*box-shadow: 0 14px 28px */
    /*rgba(0,0,0,0.25), 0 10px 10px */
    /*rgba(0,0,0,0.22);*/
}

nav:first-child {
    padding-left: .5em;
}

nav a {
    margin-right: .25em;
    margin-left: .25em;
    padding-left: .1em;
    padding-right: .1em;
}

header,section {
    margin: .5em;
    padding: .5em 1em;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1 {
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin-bottom: .25em;
    font-size: 1.5em;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    margin-top: .2em;
    margin-bottom: .2em;
}


h3 {
    font-family: 'Raleway', sans-serif;
    margin-top: 0;
    font-size: .8em;
}

.nav {
    font-family: 'Raleway', sans-serif;
}

p {
    padding-top: 0;
    margin-top: 0;
    font-size: .75em;
}

footer {
    margin-top: 2em;
    margin-bottom: .5em;
    text-align: center;
    font-size: .75em;
}

.pink {
    background-color: #ff99dd;
}

#Contact a {
    margin-bottom: .5em;
}

button {
    font-family: serif;
    font-size: .75em;
    margin-bottom: .5em;
    padding: .25em;
    border-style: none;
    background-color: transparent;
}

a, button {
    text-decoration: none;
    color: #12223A;
    border-bottom-style: solid;
    border-bottom-width: .1em;
    border-bottom-color: #FFF187;
}

a:hover, button:hover {
    background-color: #FFF187;
}

#Contact a {
    font-size: .75em;
    margin-right: .25em;
    margin-left: .25em;
    padding-left: .1em;
    padding-right: .1em;
}

.github {
    background: url('./img/githublogo.png') no-repeat;
    background-size: 100%;
    border-width: 0;
}

.github:hover {
    background-color: transparent;
}
