/*
Color scheme:

#12223A
#2641B7
#879bf2
#FF2B2B
#FF4747
#FFF187


*/



body {
    color: #12223A;
    margin:0;
    padding-top: 1em;
    font-size: 2em;
}

nav {
    margin: 0;
    padding-top: .25em;
    padding-bottom: .25em;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFF;
    width: 100%;
    /*box-shadow: 0 14px 28px */
    /*rgba(0,0,0,0.25), 0 10px 10px */
    /*rgba(0,0,0,0.22);*/
}

nav:first-child {
    padding-left: .5em;
}

nav a {
    margin-right: .25em;
    margin-left: .25em;
    padding-left: .1em;
    padding-right: .1em;
}

header,section {
    margin: 1.5em;
    padding: .75em;
    padding-top: .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    text-align: center;
}

h1 {
    padding: 0;
    margin-bottom: .25em;
}

h3 {
    margin-top: 0;
}

footer {
    margin-top: 2em;
    margin-bottom: .5em;
    text-align: center;
    font-size: .75em;
}

.blue {
    background-color: #879bf2;
}

.red {
    background-color: #ff5151;
}

#Contact a {
    margin-bottom: .5em;
}

button {
    font-family: serif;
    font-size: 1em;
    margin-bottom: .5em;
    padding: .25em;
    border-style: none;
    background-color: transparent;
}

a, button {
    text-decoration: none;
    color: #12223A;
    border-bottom-style: solid;
    border-bottom-width: .1em;
    border-bottom-color: #FFF187;
}

a:hover, button:hover {
    background-color: #FFF187;
}

#Contact a {
    margin-right: .25em;
    margin-left: .25em;
    padding-left: .1em;
    padding-right: .1em;
}

.github {
    background: url('./img/githublogo.png') no-repeat;
    background-size: 100%;
    border-width: 0;
}

.github:hover {
    background-color: transparent;
}
