/*
Color scheme:

#12223A
#2641B7
#879bf2
#FF2B2B
#FF4747
#FFF187


*/

body {
    color: #12223A;
    margin: 0;
    padding: 0;
}

span {
    font-size: 1.5em;
    position: absolute;
    right: .1em;
    bottom: -.2em;
    color: #2641B7;
}

span:hover {
    cursor: pointer;
    color: #ff6868;
}

span:active {
    cursor: pointer;
    color: #FFF187;
}

.wrapper {
    position: relative;
    text-align: center;
    width: 100%;
    height: 40em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yellow {
    background-color: #FFF187;
}

.blue {
    background-color: #879bf2;
}

.red {
    background-color: #ff6868;
}

.wrapper div {
    position: absolute;
    background-color: #FFF;
    padding-top: .2em;
    padding-bottom: .2em;
    width: 16em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 14px 28px 
    rgba(0,0,0,0.25), 0 10px 10px 
    rgba(0,0,0,0.22);
}

h2, p {
    margin: 0;
    padding: 0;
    padding-left: 1em;
    padding-right: 1em;
}
