@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.story {
    margin: 48px 0 16px 0;
    font-size: 20px;
    text-align: center;
    font-weight: 300;
}

.image {
    width: 100%;
}

.name {
    margin: 0;
    line-height: .8;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
}

.developer {
    margin-top: 4px;
    color: #33bb70;
    font-size: 24px;
    font-weight: 100;
    text-align: center;
}

.icons {
    margin: 40px 0;
    display: flex;
    justify-content: center;
}

.socialIcon {
    display: inline;
    margin: 0 32px;
    color: #000;
    font-size: 32px;
    text-decoration: none;
    transition: all .5s ease-in-out;
}

.socialIcon:hover {
    color: #33bb70;
}

@media screen and (min-width: 400px) {
    
    .story {
        margin: 32px 0 16px 0;
        font-size: 24px;
    }

    .name {
        font-size: 44px;
    }
}

@media screen and (min-width: 550px) {
    
    .story {
        margin: 32px 0 16px 0;
        font-size: 32px;
    }

    .image {
        width: 75%;
    }

    .name {
        font-size: 48px;
    }
}

@media screen and (min-width: 750px) {
    
    /* .story {
        margin: 32px 0 16px 0;
        font-size: 32px;
    } */

    .image {
        width: 60%;
    }

    /* .name {
        font-size: 48px;
    } */
}

@media screen and (min-height: 650px) {

    .socialIcon {
        margin: 0 32px;
        font-size: 48px;
    }
}